<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yogiyo.user.dao.UserDAO">
	<select id="selectExistLoginId" parameterType="string" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`name`
			,`loginId`
			,`password`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{name}
			,#{loginId}
			,#{password}
			,#{email}
			,#{phoneNumber}
			,NOW()
			,NOW()
		)
	</insert>
</mapper>