* {
    margin: auto;
}

hr {
    margin: 0%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.snsImg {
    text-decoration: none;
}
.snsImg:hover {
    text-decoration: none;
}

header {
    background-color: #fa0050;
    height: 78px;
    position: sticky;
}

header > div {
    width: 1000px;
}

.signInViewBtn, .signUpViewBtn, .signOutViewBtn {
    background-color: #fa0050;
    border: 1px solid #ea7266;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    width: 150px;
    height: 40px;
}

/* section */
section {
    width: 1000px;
    display: block;
    justify-content: center;
}

.searchBtn {
    background-color: #ff8a00;
    color: #fff;
    border: none;
}

.search > div > input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box {
    position:relative;
    border: #e6e6e6 solid 1px;
}

.boxEx {
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: bold;
}

/* signUp */
.signUp, .signIn, .signOut {
    width: 800px;
}

#loginIdCheckBtn {
    width: 650px;
}

#signUpBtn {
    background-color: #fa0050;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 0%;
}

/* signIn */
#signInBtn {
    background-color: #fa0050;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0%;
}

#signUpViewBtn {
    border: none;
    border-radius: 0%;
    color: #000;
    background-color: rgb(231, 231, 231);
    font-size: 18px;
}

/* signOut */
#signOutBtn {
    background-color: #fa0050;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0%;
}

.userInfo {
    height: 200px;
}

.userEmail {
    color: #ff8a00;
}

/* menu category */
.category > ul > li > a {
    color: #333;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 35px;
}

.category > ul > li > a:hover {
    background-color: #333;
    color: #fff;
}

.category > ul > li > a:active {
    background-color: #333;
    color: #fff;
}

/* rest list */
.restList > .restInfo {
    width: 480px;
    border: #888 solid 1px;
}

.restList > .restInfo > .restImg {
    width: 100px;
}

.restList > .restInfo > .restDetail {
    width: 380px;
}

.reviewPointAvg {
    color: #ffa800;
}

/* rest menu */
#restInfo {
    width: 1000px;
    display: flex;
    align-items: flex-start;
}

#restMenu, .restInfoList, .menuInfo {
    width: 600px;
}

#restMenu > .restName, .restIntro {
    border: #e6e6e6 solid 1px;
}

.orderTable > div {
    width: 350px;
    border: #e6e6e6 1px solid;
    border-bottom: none;
    border-top: none;
}

.orderTable> div > hr {
    border: none;
    border: #e6e6e6 1px solid;
}

.orderBtn {
    background-color: #fa0050;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0%;
    height: 46px;
    width: 350px;
}

.orderEmptyBtn {
    background-color: #e6e6e6;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0%;
    height: 46px;
    width: 350px;
}

#restMenu > .restInfo {
    width: 600px;
    height: 105px;
    border: #e6e6e6 solid 1px;
}

.restInfoList > div {
    border: #e6e6e6 solid 1px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    line-height: 35px;
}

.menuInfo > div {
    border: #e6e6e6 solid 1px;
}

.menuInfo > .menuName {
    font-size: 18px;
}

.menuEx {
    font-size: 12px;
    color: #888;
}

/* review */
.menuReview, .reviewInfo {
    border: #e6e6e6 solid 1px;
}

.reviewPoint {
    color: #ffa800;
    font-weight: bold;
}

.orderedMenu {
    font-size: 12px;
    color: #d1bca4;
}

.reviewImg {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 350px;
}

/* myInfo */
/* payment */

.payment {
    background-color: #000;
    color: #fff;
}

.infoBox {
    background-color: #e6e6e6;
    color: #333;
}

.address, .phoneNumber {
    border: #e6e6e6 solid 1px;
    border-radius: 0%;
}

.paymentBtn {
    background-color: #fa0050;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0%;
    height: 46px;
    width: 350px;
}

.myInfoTable {
    width: 630px;
}

.myInfoTable > .info {
    font-size: 15px;
}

.paymentTable, .myInfoTable {
    border: #e6e6e6 solid 1px;
}

.myInfoTable > textarea {
    width: 600px;
    border: #e6e6e6 solid 1px;
}

.orderHistory {
    background-color: #e6e6e6;
}

.orderHistoryMenu {
    background-color: #fff8eb;
}

.totalPay {
    color: #fa0050;
    font-weight: bold;
    background-color: #fff8eb;
}

.paymentMethod {
    width: 600px;
}

.paymentMethod > div {
    width: 290px;
    height: 50px;
    border: #e6e6e6 solid 1px;
    
}

/* modal */
#menuModal > .modal-dialog > .modal-content, #moreModal > .modal-dialog > .modal-content {
    border-radius: 0%;
}

#menuModal > .modal-dialog > .modal-content {
    width: 382px;
}

#menuModal > .modal-dialog > .modal-content > div > .menuInfo {
    font-size: 12px;
    color: #888;
}

#menuModal > .modal-dialog > .modal-content > div >.border-top {
    background-color: #fa0050;
}

.menuAddBtn {
    color: #fff;
    font-weight: bold;
}

.menuAddBtn:hover {
    color: #000;
}

/* footer */
footer > div {
    height: 100px;
}

/* .footerMenu {
    border: 1px solid #ccc;
    border-style: solid none;
    height: 30px;
}

.menuList {
    color: #818181;
    font-size: small;
    float: left;
    padding: 4px 30px;
}

.footerMenu > ul > li::after {
    float: right;
    display: block;
    color: #d9d9d9;
    content: "|";
}

.footerMenu > ul > li:last-child::after {
    content: "";
}

.snsImg {
    color: #818181;
    font-size: small;
} */